{% extends "my_app/base.html" %}
{% block title %}
<title>Correct</title>
    {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/css/style_books.css' %}">
    {% endblock %}

{% block content %}
<div class="container-3">
    <div class="container marketing">
    {% load crispy_forms_tags %}
        <form action= "" method="post">
        {% csrf_token %}
        {{ form|crispy }}

    <button class="my-button-reg" type="submit" onclick="redirectToPage()" >Зберегти</button>

        </form>
    </div>


</div>

    <script>
    function redirectToPage() {
        // Зміна URL
        window.location.href = "{% url 'my_app:watched_films' %}";
    }


</script>

{% endblock %}