{% extends "my_app/base.html" %}

{% block title %}
<title>Watched films</title>
    {% endblock %}

{% block content %}


<div class="container-3">
    <div class="title-films">
        <h1>Переглянуті фільми</h1>
    </div>
    <div class="cool-table-wrap">
        <table>
            <thead>
                <tr>
                    <th>Постер</th>
                    <th>Назва</th>
                    <th>Дата додавання</th>
                    <th>Коментар</th>


                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                    <tr>
                        <td> <div class="film-img-wrap"><img alt="" src='{{ film.img_url }}'></div> </td>
                        <td>{{ film.title }}</td>
                        <td>{{ film.date }}</td>
                        <td>{{ film.comment }}</td>

                        <td>
                            <form action="{% url 'my_app:delete_watched_film' film.id %}" method="post">
                                {% csrf_token %}
                                <input class="my-button" type="submit" value="Видалити">
                            </form>
                            <form action="{% url 'my_app:correct_watched_film' film.id %}" method="get">
                                {% csrf_token %}
                                <input class="my-button" type="submit" value="Редагувати">
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="margin-left: 20px;">
        <div style="display: flex; align-items: center;">

        <form  action="{% url 'my_app:random_watched_films' %}" method="post">
            {% csrf_token %}
        <input class="my-button-random" type="submit" value="Порадити до перегляду">
        </form>
            <div class="cool-random-wrap">
                {% if rand_film %}
                <h2 style="font-size: 20px;" class="random-title">{{ rand_film }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
